[user]
    name = Baturalp KIZILTAN
    email = baturalp.kiziltan@outlook.com

[init]
    defaultBranch = main

[alias]
    co = checkout
    br = branch
    cm = commit
    st = status
    sw = switch
    f = fetch
    d = diff
    find = !git log --all | rg -C 7
    l = log --oneline
    last = log -1 HEAD --stat

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
